<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mk.adx.mapper.DataAllMapper">
  <resultMap id="BaseResultMap" type="com.mk.adx.vo.DataAll">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="req_id" jdbcType="VARCHAR" property="req_id" />
    <result column="req_date" jdbcType="TIMESTAMP" property="req_date" />
    <result column="ad_id" jdbcType="BIGINT" property="ad_id" />
    <result column="pos_id" jdbcType="BIGINT" property="pos_id" />
    <result column="slot_type" jdbcType="BIGINT" property="slot_type" />
    <result column="media_id" jdbcType="BIGINT" property="media_id" />
    <result column="dsp_id" jdbcType="BIGINT" property="dsp_id" />
    <result column="dsp_media_id" jdbcType="VARCHAR" property="dsp_media_id" />
    <result column="dsp_pos_id" jdbcType="VARCHAR" property="dsp_pos_id" />
    <result column="pv_s" jdbcType="BIGINT" property="pv_s" />
    <result column="pv_time" jdbcType="BIGINT" property="pv_time" />
    <result column="clikc_s" jdbcType="BIGINT" property="clikc_s" />
    <result column="clikc_time" jdbcType="BIGINT" property="clikc_time" />
    <result column="v_start_s" jdbcType="BIGINT" property="v_start_s" />
    <result column="v_end_s" jdbcType="BIGINT" property="v_end_s" />
    <result column="download_start_s" jdbcType="BIGINT" property="download_start_s" />
    <result column="download_end_s" jdbcType="BIGINT" property="download_end_s" />
    <result column="install_start_s" jdbcType="BIGINT" property="install_start_s" />
    <result column="install_end_s" jdbcType="BIGINT" property="install_end_s" />
    <result column="deeplink_s" jdbcType="BIGINT" property="deeplink_s" />
    <result column="ideeplink_s" jdbcType="BIGINT" property="ideeplink_s" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="res_s" jdbcType="BIGINT" property="res_s" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, req_id, req_date, ad_id, pos_id, slot_type, media_id, dsp_id, dsp_media_id, dsp_pos_id, 
    pv_s, pv_time, clikc_s, clikc_time, v_start_s, v_end_s, download_start_s, download_end_s, 
    install_start_s, install_end_s, deeplink_s, ideeplink_s, ip, res_s
  </sql>
  <select id="selectByExample" parameterType="com.mk.adx.vo.DataAllExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from data_all
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from data_all
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from data_all
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.mk.adx.vo.DataAllExample">
    delete from data_all
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.mk.adx.vo.DataAll" useGeneratedKeys="true">
    insert into data_all (req_id, req_date, ad_id, 
      pos_id, slot_type, media_id, 
      dsp_id, dsp_media_id, dsp_pos_id, 
      pv_s, pv_time, clikc_s, 
      clikc_time, v_start_s, v_end_s, 
      download_start_s, download_end_s, install_start_s, 
      install_end_s, deeplink_s, ideeplink_s, 
      ip, res_s)
    values (#{req_id,jdbcType=VARCHAR}, #{req_date,jdbcType=TIMESTAMP}, #{ad_id,jdbcType=BIGINT}, 
      #{pos_id,jdbcType=BIGINT}, #{slot_type,jdbcType=BIGINT}, #{media_id,jdbcType=BIGINT}, 
      #{dsp_id,jdbcType=BIGINT}, #{dsp_media_id,jdbcType=VARCHAR}, #{dsp_pos_id,jdbcType=VARCHAR}, 
      #{pv_s,jdbcType=BIGINT}, #{pv_time,jdbcType=BIGINT}, #{clikc_s,jdbcType=BIGINT}, 
      #{clikc_time,jdbcType=BIGINT}, #{v_start_s,jdbcType=BIGINT}, #{v_end_s,jdbcType=BIGINT}, 
      #{download_start_s,jdbcType=BIGINT}, #{download_end_s,jdbcType=BIGINT}, #{install_start_s,jdbcType=BIGINT}, 
      #{install_end_s,jdbcType=BIGINT}, #{deeplink_s,jdbcType=BIGINT}, #{ideeplink_s,jdbcType=BIGINT}, 
      #{ip,jdbcType=VARCHAR}, #{res_s,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.mk.adx.vo.DataAll" useGeneratedKeys="true">
    insert into data_all
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="req_id != null">
        req_id,
      </if>
      <if test="req_date != null">
        req_date,
      </if>
      <if test="ad_id != null">
        ad_id,
      </if>
      <if test="pos_id != null">
        pos_id,
      </if>
      <if test="slot_type != null">
        slot_type,
      </if>
      <if test="media_id != null">
        media_id,
      </if>
      <if test="dsp_id != null">
        dsp_id,
      </if>
      <if test="dsp_media_id != null">
        dsp_media_id,
      </if>
      <if test="dsp_pos_id != null">
        dsp_pos_id,
      </if>
      <if test="pv_s != null">
        pv_s,
      </if>
      <if test="pv_time != null">
        pv_time,
      </if>
      <if test="clikc_s != null">
        clikc_s,
      </if>
      <if test="clikc_time != null">
        clikc_time,
      </if>
      <if test="v_start_s != null">
        v_start_s,
      </if>
      <if test="v_end_s != null">
        v_end_s,
      </if>
      <if test="download_start_s != null">
        download_start_s,
      </if>
      <if test="download_end_s != null">
        download_end_s,
      </if>
      <if test="install_start_s != null">
        install_start_s,
      </if>
      <if test="install_end_s != null">
        install_end_s,
      </if>
      <if test="deeplink_s != null">
        deeplink_s,
      </if>
      <if test="ideeplink_s != null">
        ideeplink_s,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="res_s != null">
        res_s,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="req_id != null">
        #{req_id,jdbcType=VARCHAR},
      </if>
      <if test="req_date != null">
        #{req_date,jdbcType=TIMESTAMP},
      </if>
      <if test="ad_id != null">
        #{ad_id,jdbcType=BIGINT},
      </if>
      <if test="pos_id != null">
        #{pos_id,jdbcType=BIGINT},
      </if>
      <if test="slot_type != null">
        #{slot_type,jdbcType=BIGINT},
      </if>
      <if test="media_id != null">
        #{media_id,jdbcType=BIGINT},
      </if>
      <if test="dsp_id != null">
        #{dsp_id,jdbcType=BIGINT},
      </if>
      <if test="dsp_media_id != null">
        #{dsp_media_id,jdbcType=VARCHAR},
      </if>
      <if test="dsp_pos_id != null">
        #{dsp_pos_id,jdbcType=VARCHAR},
      </if>
      <if test="pv_s != null">
        #{pv_s,jdbcType=BIGINT},
      </if>
      <if test="pv_time != null">
        #{pv_time,jdbcType=BIGINT},
      </if>
      <if test="clikc_s != null">
        #{clikc_s,jdbcType=BIGINT},
      </if>
      <if test="clikc_time != null">
        #{clikc_time,jdbcType=BIGINT},
      </if>
      <if test="v_start_s != null">
        #{v_start_s,jdbcType=BIGINT},
      </if>
      <if test="v_end_s != null">
        #{v_end_s,jdbcType=BIGINT},
      </if>
      <if test="download_start_s != null">
        #{download_start_s,jdbcType=BIGINT},
      </if>
      <if test="download_end_s != null">
        #{download_end_s,jdbcType=BIGINT},
      </if>
      <if test="install_start_s != null">
        #{install_start_s,jdbcType=BIGINT},
      </if>
      <if test="install_end_s != null">
        #{install_end_s,jdbcType=BIGINT},
      </if>
      <if test="deeplink_s != null">
        #{deeplink_s,jdbcType=BIGINT},
      </if>
      <if test="ideeplink_s != null">
        #{ideeplink_s,jdbcType=BIGINT},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="res_s != null">
        #{res_s,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mk.adx.vo.DataAllExample" resultType="java.lang.Long">
    select count(*) from data_all
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update data_all
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.req_id != null">
        req_id = #{record.req_id,jdbcType=VARCHAR},
      </if>
      <if test="record.req_date != null">
        req_date = #{record.req_date,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ad_id != null">
        ad_id = #{record.ad_id,jdbcType=BIGINT},
      </if>
      <if test="record.pos_id != null">
        pos_id = #{record.pos_id,jdbcType=BIGINT},
      </if>
      <if test="record.slot_type != null">
        slot_type = #{record.slot_type,jdbcType=BIGINT},
      </if>
      <if test="record.media_id != null">
        media_id = #{record.media_id,jdbcType=BIGINT},
      </if>
      <if test="record.dsp_id != null">
        dsp_id = #{record.dsp_id,jdbcType=BIGINT},
      </if>
      <if test="record.dsp_media_id != null">
        dsp_media_id = #{record.dsp_media_id,jdbcType=VARCHAR},
      </if>
      <if test="record.dsp_pos_id != null">
        dsp_pos_id = #{record.dsp_pos_id,jdbcType=VARCHAR},
      </if>
      <if test="record.pv_s != null">
        pv_s = #{record.pv_s,jdbcType=BIGINT},
      </if>
      <if test="record.pv_time != null">
        pv_time = #{record.pv_time,jdbcType=BIGINT},
      </if>
      <if test="record.clikc_s != null">
        clikc_s = #{record.clikc_s,jdbcType=BIGINT},
      </if>
      <if test="record.clikc_time != null">
        clikc_time = #{record.clikc_time,jdbcType=BIGINT},
      </if>
      <if test="record.v_start_s != null">
        v_start_s = #{record.v_start_s,jdbcType=BIGINT},
      </if>
      <if test="record.v_end_s != null">
        v_end_s = #{record.v_end_s,jdbcType=BIGINT},
      </if>
      <if test="record.download_start_s != null">
        download_start_s = #{record.download_start_s,jdbcType=BIGINT},
      </if>
      <if test="record.download_end_s != null">
        download_end_s = #{record.download_end_s,jdbcType=BIGINT},
      </if>
      <if test="record.install_start_s != null">
        install_start_s = #{record.install_start_s,jdbcType=BIGINT},
      </if>
      <if test="record.install_end_s != null">
        install_end_s = #{record.install_end_s,jdbcType=BIGINT},
      </if>
      <if test="record.deeplink_s != null">
        deeplink_s = #{record.deeplink_s,jdbcType=BIGINT},
      </if>
      <if test="record.ideeplink_s != null">
        ideeplink_s = #{record.ideeplink_s,jdbcType=BIGINT},
      </if>
      <if test="record.ip != null">
        ip = #{record.ip,jdbcType=VARCHAR},
      </if>
      <if test="record.res_s != null">
        res_s = #{record.res_s,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update data_all
    set id = #{record.id,jdbcType=BIGINT},
      req_id = #{record.req_id,jdbcType=VARCHAR},
      req_date = #{record.req_date,jdbcType=TIMESTAMP},
      ad_id = #{record.ad_id,jdbcType=BIGINT},
      pos_id = #{record.pos_id,jdbcType=BIGINT},
      slot_type = #{record.slot_type,jdbcType=BIGINT},
      media_id = #{record.media_id,jdbcType=BIGINT},
      dsp_id = #{record.dsp_id,jdbcType=BIGINT},
      dsp_media_id = #{record.dsp_media_id,jdbcType=VARCHAR},
      dsp_pos_id = #{record.dsp_pos_id,jdbcType=VARCHAR},
      pv_s = #{record.pv_s,jdbcType=BIGINT},
      pv_time = #{record.pv_time,jdbcType=BIGINT},
      clikc_s = #{record.clikc_s,jdbcType=BIGINT},
      clikc_time = #{record.clikc_time,jdbcType=BIGINT},
      v_start_s = #{record.v_start_s,jdbcType=BIGINT},
      v_end_s = #{record.v_end_s,jdbcType=BIGINT},
      download_start_s = #{record.download_start_s,jdbcType=BIGINT},
      download_end_s = #{record.download_end_s,jdbcType=BIGINT},
      install_start_s = #{record.install_start_s,jdbcType=BIGINT},
      install_end_s = #{record.install_end_s,jdbcType=BIGINT},
      deeplink_s = #{record.deeplink_s,jdbcType=BIGINT},
      ideeplink_s = #{record.ideeplink_s,jdbcType=BIGINT},
      ip = #{record.ip,jdbcType=VARCHAR},
      res_s = #{record.res_s,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mk.adx.vo.DataAll">
    update data_all
    <set>
      <if test="req_id != null">
        req_id = #{req_id,jdbcType=VARCHAR},
      </if>
      <if test="req_date != null">
        req_date = #{req_date,jdbcType=TIMESTAMP},
      </if>
      <if test="ad_id != null">
        ad_id = #{ad_id,jdbcType=BIGINT},
      </if>
      <if test="pos_id != null">
        pos_id = #{pos_id,jdbcType=BIGINT},
      </if>
      <if test="slot_type != null">
        slot_type = #{slot_type,jdbcType=BIGINT},
      </if>
      <if test="media_id != null">
        media_id = #{media_id,jdbcType=BIGINT},
      </if>
      <if test="dsp_id != null">
        dsp_id = #{dsp_id,jdbcType=BIGINT},
      </if>
      <if test="dsp_media_id != null">
        dsp_media_id = #{dsp_media_id,jdbcType=VARCHAR},
      </if>
      <if test="dsp_pos_id != null">
        dsp_pos_id = #{dsp_pos_id,jdbcType=VARCHAR},
      </if>
      <if test="pv_s != null">
        pv_s = #{pv_s,jdbcType=BIGINT},
      </if>
      <if test="pv_time != null">
        pv_time = #{pv_time,jdbcType=BIGINT},
      </if>
      <if test="clikc_s != null">
        clikc_s = #{clikc_s,jdbcType=BIGINT},
      </if>
      <if test="clikc_time != null">
        clikc_time = #{clikc_time,jdbcType=BIGINT},
      </if>
      <if test="v_start_s != null">
        v_start_s = #{v_start_s,jdbcType=BIGINT},
      </if>
      <if test="v_end_s != null">
        v_end_s = #{v_end_s,jdbcType=BIGINT},
      </if>
      <if test="download_start_s != null">
        download_start_s = #{download_start_s,jdbcType=BIGINT},
      </if>
      <if test="download_end_s != null">
        download_end_s = #{download_end_s,jdbcType=BIGINT},
      </if>
      <if test="install_start_s != null">
        install_start_s = #{install_start_s,jdbcType=BIGINT},
      </if>
      <if test="install_end_s != null">
        install_end_s = #{install_end_s,jdbcType=BIGINT},
      </if>
      <if test="deeplink_s != null">
        deeplink_s = #{deeplink_s,jdbcType=BIGINT},
      </if>
      <if test="ideeplink_s != null">
        ideeplink_s = #{ideeplink_s,jdbcType=BIGINT},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="res_s != null">
        res_s = #{res_s,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mk.adx.vo.DataAll">
    update data_all
    set req_id = #{req_id,jdbcType=VARCHAR},
      req_date = #{req_date,jdbcType=TIMESTAMP},
      ad_id = #{ad_id,jdbcType=BIGINT},
      pos_id = #{pos_id,jdbcType=BIGINT},
      slot_type = #{slot_type,jdbcType=BIGINT},
      media_id = #{media_id,jdbcType=BIGINT},
      dsp_id = #{dsp_id,jdbcType=BIGINT},
      dsp_media_id = #{dsp_media_id,jdbcType=VARCHAR},
      dsp_pos_id = #{dsp_pos_id,jdbcType=VARCHAR},
      pv_s = #{pv_s,jdbcType=BIGINT},
      pv_time = #{pv_time,jdbcType=BIGINT},
      clikc_s = #{clikc_s,jdbcType=BIGINT},
      clikc_time = #{clikc_time,jdbcType=BIGINT},
      v_start_s = #{v_start_s,jdbcType=BIGINT},
      v_end_s = #{v_end_s,jdbcType=BIGINT},
      download_start_s = #{download_start_s,jdbcType=BIGINT},
      download_end_s = #{download_end_s,jdbcType=BIGINT},
      install_start_s = #{install_start_s,jdbcType=BIGINT},
      install_end_s = #{install_end_s,jdbcType=BIGINT},
      deeplink_s = #{deeplink_s,jdbcType=BIGINT},
      ideeplink_s = #{ideeplink_s,jdbcType=BIGINT},
      ip = #{ip,jdbcType=VARCHAR},
      res_s = #{res_s,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>